{% load blog_tags %}
{% load i18n %}

<aside class="flex flex-col gap-4">

    {% for item in sidebar_config %}
        {% if item.type == 'recent' %}
            {% include 'blog/tags/sidebar_recent.html' %}
        {% elif item.type == 'hot' %}
            {% include 'blog/tags/sidebar_hot.html' %}
        {% elif item.type == 'tags' %}
            {% include 'blog/tags/sidebar_tags.html' %}
        {% elif item.type == 'links' %}
            {% include 'blog/tags/sidebar_links.html' %}
        {% elif item.type == 'hitokoto' %}
            {% include 'blog/tags/sidebar_hitokoto.html' %}
        {% elif item.type == 'widget' and item.widget %}
            {% include item.template with widget=item.widget %}
        {% endif %}
    {% empty %}
        {# 无配置时回退：显示一言作为兜底 #}
        {% include 'blog/tags/sidebar_hitokoto.html' %}
    {% endfor %}

</aside>
